<% layout("layouts/boilerPlate") -%>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
 <h1><strong>error : <%= message  %>  </strong></h1>  
 <h4>   status : <%= status  %></h4> 
 
</div>