<footer>
    <div class="foot">
        <div class="social-media">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="l">
            <a href="#">privacy</a>
            <a href="#">terms</a>
            <a href="#">condition</a>
        </div>
    </div>
</footer>